img {
	width: 400px;
	height: 600px;
}

body {
	height: 100%;
	width: device-width;
	margin: 0;
	
}

div {
	background-color: white;
	height: 100%;
	width: device-width;
	margin: 0;
}

#map {
  height: 600px;
  margin-top: 20px;
}

.map-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}


#map-marker{
	background-color: teal;
	opacity: 1;
	color: red;
}